@import 'variables.scss';

.hero {
  background: linear-gradient(to top right, $purple, $magenta 130%);

  transition: height 0.2s;

  @media (min-width: $filter-breakpoint) {
  }
}

  .hero__navibar {
  }

  .hero__graphic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media (orientation: landscape) {
      min-height: 34vw;
    }
    @media (orientation: portrait) {
      min-height: 90vw;
    }
  }

  .hero__graphic {
    display: none;
    width: 100%;
    max-height: 100%;
  }

  .hero__graphic--small {
    transform: scale(1.15);

    @media (orientation: portrait) {
      display: block;
    }
  }

  .hero__graphic--large {
    @media (orientation: landscape) {
      display: block;
    }
  }
